@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  background-color: none;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.cursor.blinking {
  animation: blink 0.7s steps(1) infinite;
}